$white: #ffffff;
$black: #000000;
$gray: #a7a7a7;
$bluelight: #8db0f9;
$bluegray: #ebecf0;

$primary: #373f67;
$secondary: #5a85ee;
$tertiary: #719cf7;
$negative: #e11900;
$background: $white;
$contentPrimary: $black;
$contentSecondary: #919191;
$contentTertiary: #9da1b4;
$categoryButton: $gray;
