@use "./../utils/unit" as *;

// 컨테이너 믹스인
@mixin containerMax($max-width: 768px) {
  width: rem($max-width);
  @include autoMargin;
}

// padding, margin 관련 믹스인
@mixin padding($spacing) {
  padding: rem($spacing);
}

@mixin paddingAll($pt, $pr, $pb, $pl) {
  padding: rem($pt) rem($pr) rem($pb) rem($pl);
}

@mixin paddingXY($ptb, $plr) {
  padding: rem($ptb) rem($plr);
}

@mixin paddingX($pl, $pr) {
  padding-left: rem($pl);
  padding-right: rem($pr);
}

@mixin paddingY($pt, $pb) {
  padding-top: rem($pt);
  padding-bottom: rem($pb);
}

@mixin margin($spacing) {
  margin: ($spacing);
}

@mixin marginAll($mt, $mr, $mb, $ml) {
  margin: rem($mt) rem($mr) rem($mb) rem($ml);
}

@mixin marginXY($mtb, $mlr) {
  margin: rem($mtb) rem($mlr);
}

@mixin marginX($ml, $mr) {
  margin-left: rem($ml);
  margin-right: rem($mr);
}

@mixin marginY($mt, $mb) {
  margin-top: rem($mt);
  margin-bottom: rem($mb);
}

@mixin autoMargin {
  margin-left: auto;
  margin-right: auto;
}

// 이미지 반응형 믹스인
@mixin profileRatio($w: 1, $h: 1) {
  aspect-ratio: calc($w / $h);
}

@mixin respons($width: max-width, $height: auto) {
  #{$width}: 100%;
  height: $height;
}

@mixin fit($posX: 50%, $posY: 50%, $fit: cover) {
  object-fit: $fit;
  object-position: $posX $posY;
}

// 말줄임표
@mixin textOver {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// flexbox 믹스인
@mixin flexbox($direction: row, $justify: space-between, $items: stretch, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $items;
}

// 그리드 믹스인
@mixin gridbox($column-count: 1, $column-width: 1fr, $row-gap: 0, $column-gap: 0) {
  display: grid;
  grid-template-columns: repeat($column-count, $column-width);
  grid-template-rows: auto;
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
}

// 내비게이션 높이 값
@mixin navBottom($nb: 70px) {
  padding-bottom: rem($nb);
}
