<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnterEuid-질문채팅</title>
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <header>
      <div class="shareHeader">
        <div class="backWrapper">
          <h1 class="backWrapper__chatHead">질문하기</h1>
        </div>
        <div class="moreWrapper">
          <a href="#" class=""><img src="./../images/icon-sacn.svg" alt="스캔" /></a>
          <a href="#"><img src="./../images/icon-alram-bell.svg" alt="알림" class="moreWrapper__bell" /></a>
        </div>
      </div>
    </header>

    <main class="chatListContainer">
      <section class="selling__info chatList">
        <figure class="selling__info__preview">
          <img src="./../images/Rectangle.svg" alt="user image" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">프로필 이미지</figcaption>
        </figure>
        <div class="selling__info__wrapping">
          <div class="selling__info__title">
            <span class="selling__info__state">이드미</span>
            <span class="selling__info__product chatList__text-gray"
              >망원동
              <span class="dot" aria-hidden="true">&middot;</span>
              3일전</span
            >
          </div>
          <a href="/views/chatting.html">
            <p class="selling__info__ellipsis">알겠습니다.</p>
          </a>
        </div>
        <figure class="selling__info__preview chatList__image">
          <img src="./../images/square.svg" alt="user image" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">판매 중인 제품 이미지</figcaption>
        </figure>
      </section>

      <section class="selling__info chatList">
        <figure class="selling__info__preview">
          <img src="./../images/Rectangle.svg" alt="user image" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">프로필 이미지</figcaption>
        </figure>
        <div class="selling__info__wrapping">
          <div class="selling__info__title">
            <span class="selling__info__state">멋사와 함께</span>
            <span class="selling__info__product chatList__text-gray"
              >성산제2동
              <span class="dot" aria-hidden="true">&middot;</span>
              3일전</span
            >
          </div>
          <a href="/views/chatting.html">
            <p class="selling__info__ellipsis">디버깅은 해보셨어용</p>
          </a>
        </div>
      </section>

      <section class="selling__info chatList">
        <figure class="selling__info__preview">
          <img src="./../images/Rectangle.svg" alt="user image" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">프로필 이미지</figcaption>
        </figure>
        <div class="selling__info__wrapping">
          <div class="selling__info__title">
            <span class="selling__info__state">4기네이버</span>
            <span class="selling__info__product chatList__text-gray"
              >연남동
              <span class="dot" aria-hidden="true">&middot;</span>
              3일전</span
            >
          </div>
          <a href="/views/chatting.html">
            <p class="selling__info__ellipsis">네이버 면접준비하려고 하는데 너무 어렵네요</p>
          </a>
        </div>
        <figure class="selling__info__preview chatList__image">
          <img src="./../images/square.svg" alt="user image" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">판매 중인 제품 이미지</figcaption>
        </figure>
      </section>

      <section class="selling__info chatList">
        <figure class="selling__info__preview">
          <img src="./../images/Rectangle.svg" alt="user image" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">프로필 이미지</figcaption>
        </figure>
        <div class="selling__info__wrapping">
          <div class="selling__info__title">
            <span class="selling__info__state">크크오가즈아</span>
            <span class="selling__info__product chatList__text-gray"
              >남가좌제1동
              <span class="dot" aria-hidden="true">&middot;</span>
              3일전</span
            >
          </div>
          <a href="/views/chatting.html">
            <p class="selling__info__ellipsis">넵! 알려주신대로 해볼게요!</p>
          </a>
        </div>
      </section>

      <section class="selling__info chatList">
        <figure class="selling__info__preview">
          <img src="./../images/Rectangle.svg" alt="user image" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">프로필 이미지</figcaption>
        </figure>
        <div class="selling__info__wrapping">
          <div class="selling__info__title">
            <span class="selling__info__state">EUIDDDD</span>
            <span class="selling__info__product chatList__text-gray"
              >연희동
              <span class="dot" aria-hidden="true">&middot;</span>
              3일전</span
            >
          </div>
          <a href="/views/chatting.html">
            <p class="selling__info__ellipsis">이 부분에서 auto layout할 때</p>
          </a>
        </div>
      </section>

      <section class="selling__info chatList">
        <figure class="selling__info__preview">
          <img src="./../images/Rectangle.svg" alt="selling__info__previewCap" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">프로필 이미지</figcaption>
        </figure>
        <div class="selling__info__wrapping">
          <div class="selling__info__title">
            <span class="selling__info__state">피그마마보이</span>
            <span class="selling__info__product chatList__text-gray"
              >상수동
              <span class="dot" aria-hidden="true">&middot;</span>
              3일전</span
            >
          </div>
          <a href="/views/chatting.html">
            <p class="selling__info__ellipsis">그러면 이 부분에서는 이렇게 진행하면 되나요?!</p>
          </a>
        </div>
        <figure class="selling__info__preview chatList__image">
          <img src="./../images/square.svg" alt="selling__info__previewCap" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">판매 중인 제품 이미지</figcaption>
        </figure>
      </section>

      <section class="selling__info chatList">
        <figure class="selling__info__preview">
          <img src="./../images/Rectangle.svg" alt="selling__info__previewCap" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">프로필 이미지</figcaption>
        </figure>
        <div class="selling__info__wrapping">
          <div class="selling__info__title">
            <span class="selling__info__state">카페인조아</span>
            <span class="selling__info__product chatList__text-gray"
              >연희동
              <span class="dot" aria-hidden="true">&middot;</span>
              3일전</span
            >
          </div>
          <a href="/views/chatting.html">
            <p class="selling__info__ellipsis">오늘 저녁에 연희근처에서 오프라인 미팅 할까요?</p>
          </a>
        </div>
        <figure class="selling__info__preview chatList__image">
          <img src="./../images/square.svg" alt="selling__info__previewCap" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">판매 중인 제품 이미지</figcaption>
        </figure>
      </section>

      <section class="selling__info chatList">
        <figure class="selling__info__preview">
          <img src="./../images/Rectangle.svg" alt="selling__info__previewCap" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">프로필 이미지</figcaption>
        </figure>
        <div class="selling__info__wrapping">
          <div class="selling__info__title">
            <span class="selling__info__state">가보자고</span>
            <span class="selling__info__product chatList__text-gray"
              >망원동
              <span class="dot" aria-hidden="true">&middot;</span>
              3일전</span
            >
          </div>
          <a href="/views/chatting.html">
            <p class="selling__info__ellipsis">aria-hidden여기서 하면 이렇게 ?</p>
          </a>
        </div>
        <figure class="selling__info__preview chatList__image">
          <img src="./../images/square.svg" alt="selling__info__previewCap" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">판매 중인 제품 이미지</figcaption>
        </figure>
      </section>

      <section class="selling__info chatList">
        <figure class="selling__info__preview">
          <img src="./../images/Rectangle.svg" alt="selling__info__previewCap" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">프로필 이미지</figcaption>
        </figure>
        <div class="selling__info__wrapping">
          <div class="selling__info__title">
            <span class="selling__info__state">MACBOY</span>
            <span class="selling__info__product chatList__text-gray"
              >망원동
              <span class="dot" aria-hidden="true">&middot;</span>
              3일전</span
            >
          </div>
          <a href="/views/chatting.html">
            <p class="selling__info__ellipsis">m1칩 air입니까? pro입니까?</p>
          </a>
        </div>
        <figure class="selling__info__preview chatList__image">
          <img src="./../images/square.svg" alt="selling__info__previewCap" class="selling__info__previewImg" />
          <figcaption class="selling__info__previewCap a11yHidden">판매 중인 제품 이미지</figcaption>
        </figure>
      </section>
    </main>
    <!-- 내비게이션 -->
    <nav class="nav">
      <h2 class="a11yHidden">내비게이션 바</h2>
      <ul class="nav_list">
        <li class="nav_item">
          <a href="main.html" class="nav_link"><img src="../images/home.svg" alt="홈" /><span class="nav_name">홈</span></a>
        </li>
        <li class="nav_item">
          <a href="board.html" class="nav_link"><img src="../images/common-icon-file.svg" alt="게시판" /><span class="nav_name">게시판</span></a>
        </li>
        <li class="nav_item">
          <a href="exchange.html" class="nav_link"><img src="../images/common-icon-map.svg" alt="내 근처" /><span class="nav_name">내 근처</span></a>
        </li>
        <li class="nav_item">
          <a href="chatList.html" class="nav_link"><img src="../images/icon-full-chat.svg" alt="채팅" /><span class="nav_name">채팅</span></a>
        </li>
        <li class="nav_item">
          <a href="profile.html" class="nav_link"><img src="../images/common-icon-chat.svg" alt="나의 이듬" /><span class="nav_name">나의 이듬</span></a>
        </li>
      </ul>
    </nav>
  </body>
</html>
