<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="wilih=device-wilih, initial-scale=1.0" />
    <title>익스체인지 페이지</title>
    <!-- 폰트어썸 -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- 프리텐다드 폰트 -->
    <link rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <!-- 메인 해더 -->
    <header class="mainHeader">
      <h1 class="a11yHidden">메인 헤더 바</h1>
      <ul class="mainHeader__list">
        <li class="mainHeader__item">
          <h2 class="mainHeader__local">남가좌제2동</h2>
          <div role="button" class="mainHeader__toggle">
            <img src="../images/main-icon-direction.svg" alt="지역 더보기" />
          </div>
        </li>
        <li class="mainHeader__item">
          <a href="search.html" class="mainHeader__localSearch"> <img src="../images/search.svg" alt="검색" /></a>
          <span role="button" tabindex="0" class="mainHeader__hamburger"> <img src="../images/main-hamburger-btn.svg" alt="햄버거 버튼" /></span>
          <span role="button" tabindex="0" class="mainHeader__alarm"><img src="../images/main-icon-alram-bell.svg" alt="알람버튼" /></span>
        </li>
      </ul>
    </header>

    <main class="mainExchange">
      <!-- 메인 콘텐츠 카테고리 -->
      <section class="mainCategory">
        <h2 class="a11yHidden">메인 콘텐츠 카테고리</h2>
        <ul class="mainCategory__list">
          <li class="mainCategory__item"><a href="main.html" class="mainCategory__link">선배님 스토리</a></li>
          <li class="mainCategory__item"><a href="exchange.html" class="mainCategory__link c-exchange">기기 거래</a></li>
          <li class="mainCategory__item"><a href="#" class="mainCategory__link">질의 응답</a></li>
          <li class="mainCategory__item"><a href="#" class="mainCategory__link">같이 해요</a></li>
        </ul>
      </section>
      <!-- 기기 거래 -->
      <section class="exchange">
        <h2 class="a11yHidden">기기 거래</h2>
        <ul class="exchange__list">
          <li class="exchange__item">
            <a href="productInfo.html" class="exchange__link">
              <figure class="exchange__img">
                <img src="https://via.placeholder.com/90x90/D3D3D3/ffffff/" alt="임시 이미지" />
                <figcaption class="a11yHidden">게시글 1번 미리보기</figcaption>
              </figure>

              <div class="exchange__info">
                <h2 class="exchange__title">2017 mac pro</h2>
                <p class="exchange__local">
                  마포구 신수동
                  <span class="dot" aria-hidden="true">&middot;</span>
                  <time datetime="2023-05-27T11:27:12">44분전</time>
                </p>
                <div class="exchange__status">
                  <span class="exchange__reservation">예약중</span>
                  <span class="exchange__doneDeal a11yHidden">거래 완료</span>
                  <span class="exchange__price">150,000원</span>
                </div>
              </div>
            </a>
            <button type="button" class="exchange__like" aria-label="좋아요 버튼">
              <span class="far fa-heart bg" aria-hidden="true"></span>
              <span class="exchange__likeNumber">4</span>
            </button>
          </li>
          <li class="exchange__item">
            <a href="productInfo.html" class="exchange__link">
              <figure class="exchange__img">
                <img src="https://via.placeholder.com/90x90/D3D3D3/ffffff/" alt="임시 이미지" />
                <figcaption class="a11yHidden">게시글 2번 미리보기</figcaption>
              </figure>
              <div class="exchange__info">
                <h2 class="exchange__title">text</h2>
                <p class="exchange__local">
                  text
                  <span class="dot" aria-hidden="true">&middot;</span>
                  <time datetime="2023-05-27T11:27:12">time</time>
                </p>
                <div class="exchange__status">
                  <span class="exchange__reservation a11yHidden">예약중</span>
                  <span class="exchange__doneDeal a11yHidden">거래 완료</span>
                  <span class="exchange__price">800,000원</span>
                </div>
              </div>
            </a>
            <button type="button" class="exchange__like" aria-label="좋아요 버튼">
              <span class="far fa-heart" aria-hidden="true"></span>
              <span class="exchange__likeNumber">4</span>
            </button>
          </li>
          <li class="exchange__item">
            <a href="productInfo.html" class="exchange__link">
              <figure class="exchange__img">
                <img src="https://via.placeholder.com/90x90/D3D3D3/ffffff/" alt="임시 이미지" />
                <figcaption class="a11yHidden">게시글 3번 미리보기</figcaption>
              </figure>
              <div class="exchange__info">
                <h2 class="exchange__title">ipad 2세대 애플펜슬</h2>
                <p class="exchange__local">
                  남가좌제2동
                  <span class="dot" aria-hidden="true">&middot;</span>
                  <time datetime="2023-06-26">1일전</time>
                </p>
                <div class="exchange__status">
                  <span class="exchange__reservation a11yHidden">예약중</span>
                  <span class="exchange__doneDeal">거래 완료</span>
                  <span class="exchange__price">800,000원</span>
                </div>
              </div>
            </a>
            <button type="button" class="exchange__like" aria-label="좋아요 버튼">
              <span class="far fa-heart" aria-hidden="true"></span>
              <span class="exchange__likeNumber">4</span>
            </button>
          </li>
          <li class="exchange__item">
            <a href="productInfo.html" class="exchange__link">
              <figure class="exchange__img">
                <img src="https://via.placeholder.com/90x90/D3D3D3/ffffff/" alt="임시 이미지" />
                <figcaption class="a11yHidden">게시글 4번 미리보기</figcaption>
              </figure>
              <div class="exchange__info">
                <h2 class="exchange__title">text</h2>
                <p class="exchange__local">
                  text
                  <span class="dot" aria-hidden="true">&middot;</span>
                  <time datetime="2023-05-27T11:27:12">time</time>
                </p>
                <div class="exchange__status">
                  <span class="exchange__reservation a11yHidden">예약중</span>
                  <span class="exchange__doneDeal a11yHidden">거래 완료</span>
                  <span class="exchange__price">1,000원</span>
                </div>
              </div>
            </a>
            <button type="button" class="exchange__like" aria-label="좋아요 버튼">
              <span class="far fa-heart" aria-hidden="true"></span>
              <span class="exchange__likeNumber">4</span>
            </button>
          </li>
          <li class="exchange__item">
            <a href="productInfo.html" class="exchange__link">
              <figure class="exchange__img">
                <img src="https://via.placeholder.com/90x90/D3D3D3/ffffff/" alt="임시 이미지" />
                <figcaption class="a11yHidden">게시글 5번 미리보기</figcaption>
              </figure>
              <div class="exchange__info">
                <h2 class="exchange__title">text</h2>
                <p class="exchange__local">
                  text
                  <span class="dot" aria-hidden="true">&middot;</span>
                  <time datetime="2023-05-27T11:27:12">time</time>
                </p>
                <div class="exchange__status">
                  <span class="exchange__reservation a11yHidden">예약중</span>
                  <span class="exchange__doneDeal a11yHidden">거래 완료</span>
                  <span class="exchange__price">8,000원</span>
                </div>
              </div>
            </a>
            <button type="button" class="exchange__like" aria-label="좋아요 버튼">
              <span class="far fa-heart" aria-hidden="true"></span>
              <span class="exchange__likeNumber">4</span>
            </button>
          </li>
          <li class="exchange__item">
            <a href="productInfo.html" class="exchange__link">
              <figure class="exchange__img">
                <img src="https://via.placeholder.com/90x90/D3D3D3/ffffff/" alt="임시 이미지" />
                <figcaption class="a11yHidden">게시글 6번 미리보기</figcaption>
              </figure>
              <div class="exchange__info">
                <h2 class="exchange__title">text</h2>
                <p class="exchange__local">
                  text
                  <span class="dot" aria-hidden="true">&middot;</span>
                  <time datetime="2023-05-27T11:27:12">time</time>
                </p>
                <div class="exchange__status">
                  <span class="exchange__reservation a11yHidden">예약중</span>
                  <span class="exchange__doneDeal a11yHidden">거래 완료</span>
                  <span class="exchange__price">10,000원</span>
                </div>
              </div>
            </a>
            <button type="button" class="exchange__like" aria-label="좋아요 버튼">
              <span class="far fa-heart" aria-hidden="true"></span>
              <span class="exchange__likeNumber">4</span>
            </button>
          </li>
          <li class="exchange__item">
            <a href="productInfo.html" class="exchange__link">
              <figure class="exchange__img">
                <img src="https://via.placeholder.com/90x90/D3D3D3/ffffff/" alt="임시 이미지" />
                <figcaption class="a11yHidden">게시글 7번 미리보기</figcaption>
              </figure>
              <div class="exchange__info">
                <h2 class="exchange__title">text</h2>
                <p class="exchange__local">
                  text
                  <span class="dot" aria-hidden="true">&middot;</span>
                  <time datetime="2023-05-27T11:27:12">time</time>
                </p>
                <div class="exchange__status">
                  <span class="exchange__reservation a11yHidden">예약중</span>
                  <span class="exchange__doneDeal a11yHidden">거래 완료</span>
                  <span class="exchange__price">40,000원</span>
                </div>
              </div>
            </a>
            <button type="button" class="exchange__like" aria-label="좋아요 버튼">
              <span class="far fa-heart" aria-hidden="true"></span>
              <span class="exchange__likeNumber">4</span>
            </button>
          </li>
        </ul>
        <!-- 카테고리 더보기 버튼 -->
        <article class="subjectCategory">
          <button class="subjectCategory__button">
            <span class="a11yHidden">기기 카테고리 더보기</span>
          </button>
          <ul class="subjectCategory__list visible">
            <li class="subjectCategory__item">
              <a href="#"><img src="../images/headset.svg" alt="헤드셋" class="subjectCategory__icon" /></a>
            </li>
            <li class="subjectCategory__item">
              <a href="#"><img src="../images/keyboard.svg" alt="키보드" class="subjectCategory__icon" /></a>
            </li>
            <li class="subjectCategory__item">
              <a href="#"><img src="../images/computer.svg" alt="컴퓨터" class="subjectCategory__icon" /></a>
            </li>
            <li class="subjectCategory__item">
              <a href="#"><img src="../images/mouse.svg" alt="마우스" class="subjectCategory__icon" /></a>
            </li>
            <li class="subjectCategory__item">
              <a href="#"><img src="../images/etc.svg" alt="" class="subjectCategory__icon" /></a>
            </li>
          </ul>
        </article>
      </section>
    </main>
    <!-- 내비게이션 -->
    <nav class="nav">
      <h2 class="a11yHidden">내비게이션 바</h2>
      <ul class="nav_list">
        <li class="nav_item">
          <a href="main.html" class="nav_link"><img src="../images/icon-home.svg" alt="홈" /><span class="nav_name">홈</span></a>
        </li>
        <li class="nav_item">
          <a href="board.html" class="nav_link"><img src="../images/common-icon-file.svg" alt="게시판" /><span class="nav_name">게시판</span></a>
        </li>
        <li class="nav_item">
          <a href="exchange.html" class="nav_link"><img src="../images/icon-full-map.svg" alt="내 근처" /><span class="nav_name">내 근처</span></a>
        </li>
        <li class="nav_item">
          <a href="chatList.html" class="nav_link"><img src="../images/common-icon-my.svg" alt="채팅" /><span class="nav_name">채팅</span></a>
        </li>
        <li class="nav_item">
          <a href="profile.html" class="nav_link"><img src="../images/common-icon-chat.svg" alt="나의 이듬" /><span class="nav_name">나의 이듬</span></a>
        </li>
      </ul>
    </nav>
  </body>
</html>
