<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="wilih=device-wilih, initial-scale=1.0" />
    <title>메인 페이지</title>
    <link rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="/style/index.css" />
  </head>

  <body>
    <main>
      <!-- 메인 배너 -->
      <section class="banner">
        <h1 class="a11yHidden">배너</h1>
        <div class="banner">
          <ul class="banner__list">
            <li class="banner__item">
              <a href="#" class="banner__link">
                <p class="banner__title"><span>풀리지 않는 버그 속</span><span>개발자로 살아남기</span></p>
                <span class="banner__more">자세히 보기</span>
              </a>
            </li>
            <li class="banner__item">
              <a href="#" class="banner__link">
                <p class="banner__title"><span>풀리지 않는 버그 속</span><span>개발자로 살아남기</span></p>
                <span class="banner__more">자세히 보기</span>
              </a>
            </li>
            <li class="banner__item">
              <a href="#" class="banner__link">
                <p class="banner__title"><span>풀리지 않는 버그 속</span><span>개발자로 살아남기</span></p>
                <span class="banner__more">자세히 보기</span>
              </a>
            </li>
          </ul>
          <div class="counterBar">
            <span class="counterBar__bar firstNum">01</span>
            <span class="counterBar__bar">───</span>
            <span tabindex="0" class="counterBar__bar lastNum">03</span>
          </div>
        </div>
      </section>
      <section class="mainCategory">
        <h1 class="a11yHidden">메인 콘텐츠 카테고리</h1>
        <ul class="mainCategory__list">
          <li class="mainCategory__item"><a href="#" class="mainCategory__link">선배님 스토리</a></li>
          <li class="mainCategory__item"><a href="#" class="mainCategory__link">기기 거래</a></li>
          <li class="mainCategory__item"><a href="#" class="mainCategory__link">질의 응답</a></li>
          <li class="mainCategory__item"><a href="#" class="mainCategory__link">같이 해요</a></li>
        </ul>
      </section>
      <section class="seniorsStory">
        <h1 class="a11yHidden">선배님 스토리</h1>
        <ul class="seniorsStory__list">
          <li class="seniorsStory__item">
            <a href="#">
              <figure class="seniorsStory__fig">
                <img aria-labelledby="PCY-story" src="https://via.placeholder.com/138x104/919191/ffffff/" alt="임시 이미지" />
                <figcaption class="a11yHidden" id="PCY-story">UXUI 1기 수강생 박치열이 인터뷰를 하며 블라블라</figcaption>
              </figure>
              <p class="seniorsStory__description"><span>디자인에 대해 하나도 알지 못했던</span> <span>내가 취업할 수 있었던 이유</span></p>
              <ul class="seniorsStory__category">
                <li class="seniorsStory__course">UXUI</li>
                <li class="seniorsStory__Separator" aria-hidden="true">|</li>
                <li class="seniorsStory__group">1기 수강생&nbsp;</li>
                <li class="seniorsStory__name">박치열</li>
              </ul>
            </a>
          </li>
          <li class="seniorsStory__item">
            <a href="#">
              <figure>
                <img aria-labelledby="KJU-story" src="https://via.placeholder.com/138x104/919191/ffffff/" alt="선배님 스토리 콘텐츠1" />
                <figcaption class="a11yHidden" id="KJU-story"></figcaption>
              </figure>
              <p class="seniorsStory__description"><span>영문과 전공생에서</span><span>UIUX 디자이너로 취업하기까지</span></p>
              <ul class="seniorsStory__category">
                <li class="seniorsStory__course">UXUI</li>
                <li class="seniorsStory__Separator" aria-hidden="true">|</li>
                <li class="seniorsStory__group">3기 수강생&nbsp;</li>
                <li class="seniorsStory__name">김진우</li>
              </ul>
            </a>
          </li>
          <li class="seniorsStory__item">
            <a href="#">
              <figure>
                <img aria-labelledby="KSS-story" src="https://via.placeholder.com/138x104/919191/ffffff/" alt="선배님 스토리 콘텐츠1" />
                <figcaption class="a11yHidden" id="KSS-story"></figcaption>
              </figure>
              <p class="seniorsStory__description"><span>7기 수강생의 삼성으로 가는</span><span>피그마 노하우</span></p>
              <ul class="seniorsStory__category">
                <li class="seniorsStory__course">UXUI</li>
                <li class="seniorsStory__Separator" aria-hidden="true">|</li>
                <li class="seniorsStory__group">7기 수강생&nbsp;</li>
                <li class="seniorsStory__name">김삼성</li>
              </ul>
            </a>
          </li>
          <li class="seniorsStory__item">
            <a href="#">
              <figure>
                <img aria-labelledby="KHH-story" src="https://via.placeholder.com/138x104/919191/ffffff/" alt="선배님 스토리 콘텐츠1" />
                <figcaption class="a11yHidden" id="KHH-story"></figcaption>
              </figure>
              <p class="seniorsStory__description"><span>배울 때 내가 가장 힘들었던 A-Z</span><span>야 너도 할수 있어!</span></p>
              <ul class="seniorsStory__category">
                <li class="seniorsStory__course">UXUI</li>
                <li class="seniorsStory__Separator" aria-hidden="true">|</li>
                <li class="seniorsStory__group">4기 수강생&nbsp;</li>
                <li class="seniorsStory__name">김환휘</li>
              </ul>
            </a>
          </li>
          <li class="seniorsStory__item">
            <a href="#">
              <figure>
                <img aria-labelledby="CHS-story" src="https://via.placeholder.com/138x104/919191/ffffff/" alt="선배님 스토리 콘텐츠1" />
                <figcaption class="a11yHidden" id="CHS-story"></figcaption>
              </figure>
              <p class="seniorsStory__description"><span>나는 프론트일까? 백일까?</span><span>여전히 모르겠다면 물어봐!</span></p>
              <ul class="seniorsStory__category">
                <li class="seniorsStory__course">UXUI</li>
                <li class="seniorsStory__Separator" aria-hidden="true">|</li>
                <li class="seniorsStory__group">2기 수강생&nbsp;</li>
                <li class="seniorsStory__name">최혜수</li>
              </ul>
            </a>
          </li>
          <li class="seniorsStory__item">
            <a href="#">
              <figure>
                <img aria-labelledby="YJH-story" src="https://via.placeholder.com/138x104/919191/ffffff/" alt="선배님 스토리 콘텐츠1" />
                <figcaption class="a11yHidden" id="YJH-story"></figcaption>
              </figure>
              <p class="seniorsStory__description"><span>코딩과 디자인의 그 어딘가</span><span>두가지 모두 하고 싶은 욕심쟁이</span></p>
              <ul class="seniorsStory__category">
                <li class="seniorsStory__course">UXUI</li>
                <li class="seniorsStory__Separator" aria-hidden="true">|</li>
                <li class="seniorsStory__group">5기 수강생&nbsp;</li>
                <li class="seniorsStory__name">염진희</li>
              </ul>
            </a>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
