<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필</title>
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <main class="profileContainer">
      <section class="userPhoto">
        <a href="#"> <img src="/images/profile.png" alt="user photo" /></a>
        <p class="userPhoto__name">EUID*** <span class="userPhoto__number">4기</span></p>
        <p class="userPhoto__answer">답변 35</p>
      </section>

      <section class="userMenu">
        <ul class="userMenu__list">
          <li class="userMenu__item">
            <img src="/images/icon-qa.svg" alt="" /><br />
            <a href="#">나의 Q&amp;A</a>
          </li>
          <li class="userMenu__item">
            <img src="/images/icon-profile.svg" alt="" /><br />
            <a href="#">나의 프로필</a>
          </li>
          <li>
            <img src="/images/icon-alram-bell.svg" alt="" />
            <br />
            <a href="#">내소식</a>
          </li>
        </ul>
      </section>

      <section class="userState">열정온도</section>

      <section class="userProduct">
        <ul>
          <li><a href="/">활동배지 10개</a></li>
          <li><a href="/">판매상품 3개</a></li>
          <li><a href="/">받은 매너 평가</a></li>
          <li>시간 약속을 잘지켜요</li>
          <li>친절하고 매너가 좋아요</li>
          <li>제가 있는 곳까지 와서 거래했어요.</li>
          <li><a href="/">받은 거래 후기</a></li>
        </ul>
      </section>

      <section class="userReview">
        <h3>으갸갸갹</h3>
        <span>구매자 인천광역시 계양구 4개월전</span>
        <p>감사감사 감사합니다.</p>
        <a href="#">more</a>
      </section>

      <section class="userSetting">
        <ul>
          <li><a href="#">보관 질문</a></li>
          <li><a href="#">설정</a></li>
          <li><a href="#">지식 iN 공식 블로그</a></li>
          <li><a href="#">서비스 정보</a></li>
          <li><a href="#">공지사항</a></li>
          <li><a href="#">로그아웃</a></li>
        </ul>
      </section>
    </main>
  </body>
</html>
