<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <main class="profileContainer">
      <section class="profileWrap">
        <a href="#"><img src="/images/profile.png" alt="user photo" /></a>
        <p class="profileWrap__name">EUID*** <span class="profileWrap__number">4기</span></p>
        <p class="profileWrap__answer">답변 35</p>
        <a href="#" class="profileWrap__edit"><img src="/images/icon-pencil.svg" alt="사진 변경하기" /></a>
      </section>

      <section class="menuWrap">
        <ul class="menuWrap__list">
          <li>
            <a href="#" class="menuWrap__link">
              <img src="/images/icon-qa.svg" alt="icon q&a" /><br />
              <span>나의 Q&amp;A</span>
            </a>
          </li>
          <li>
            <a href="#" class="menuWrap__link">
              <img src="/images/icon-profile.svg" alt="icon profile" /><br />
              <span>나의 프로필</span>
            </a>
          </li>
          <li>
            <a href="#" class="menuWrap__link">
              <img src="/images/icon-alram-bell.svg" alt="icon bell" /><br />
              <span>내소식</span>
            </a>
          </li>
        </ul>
      </section>

      <section class="userState">
        <h2 class="userState__title">열정온도</h2>
        <div class="userState__temperature">
          <span class="userState__temperature--color">41.2&#8451;</span>
          <span aria-hidden="true">😃</span>
        </div>
        <span class="userState__first">첫 온도 36.5&#8451;</span>
        <hr class="userState__hr" aria-hidden="true" />
      </section>

      <section class="likeWrap">
        <span class="far fa-heart likeWrap__heart" aria-hidden="true"></span>
        <p class="likeWrap__like">받은 좋아요 <span class="likeWrap__percent">100%</span></p>
        <p class="likeWrap__satisfy">11개 중 11명이 만족</p>
        <span class="far fa-comment likeWrap__chat" aria-hidden="true"></span>
        <p class="likeWrap__reply">응답률 -%</p>
        <p class="likeWrap__short">표시될 만큼 충분히 채팅하지 않았어요.</p>
      </section>

      <section class="userProduct">
        <ul class="userProduct__list">
          <li>
            <a href="#" class="product__report">
              <span>활동배지 10개</span>
              <span class="fas fa-angle-right" aria-hidden="true"></span>
            </a>
          </li>
          <li class="userProduct__list--boder">
            <a href="#" class="product__report">
              <span>판매상품 3개</span>
              <span class="fas fa-angle-right" aria-hidden="true"></span>
            </a>
          </li>
          <li>
            <a href="#" class="product__report">
              <span>받은 매너 평가</span>
              <span class="fas fa-angle-right" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
      </section>

      <section class="userManner">
        <ol class="userMannerList">
          <li class="userMannerList__evaluate">
            <img src="/images/profile-icon-people.svg" alt="icon people" />
            <span class="userMannerList__Text"> 시간 약속을 잘지켜요 </span>
          </li>
          <li class="userMannerList__evaluate">
            <img src="/images/profile-icon-people.svg" alt="icon people" />
            <span class="userMannerList__Text"> 친절하고 매너가 좋아요 </span>
          </li>
          <li class="userMannerList__evaluate">
            <img src="/images/profile-icon-people.svg" alt="icon people" />
            <span class="userMannerList__Text"> 제가 있는 곳까지 와서 거래했어요. </span>
          </li>
        </ol>
      </section>

      <section class="reviewWrap">
        <a href="#" class="product__report userProduct__list--boder">
          <span>받은 거래 후기 1</span>
          <span class="fas fa-angle-right" aria-hidden="true"></span>
        </a>
        <article class="userReview">
          <div class="userReview__photo">
            <img src="/images/Rectangle.svg" alt="user photo" />
          </div>
          <h3 class="userReview__id">으갸갸갹</h3>
          <p class="userReview__info">
            구매자
            <span class="dot" aria-hidden="true">&middot;</span>
            인천광역시 계양구
            <span class="dot" aria-hidden="true">&middot;</span>
            4개월전
          </p>
          <p class="userReview__reply">감사감사 감사합니다.</p>
          <a href="#" class="userReview__more"><img src="/images/more-gray.svg" alt="더보기" /></a>
        </article>
      </section>

      <section class="userSetting">
        <ul class="userSetting__list">
          <li class="userSetting__link"><a href="#">보관 질문</a></li>
          <li class="userSetting__link"><a href="#">설정</a></li>
          <li class="userSetting__link"><a href="#">지식 iN 공식 블로그</a></li>
          <li class="userSetting__link"><a href="#">서비스 정보</a></li>
          <li class="userSetting__link"><a href="#">공지사항</a></li>
          <li class="userSetting__link"><a href="#" class="userName">로그아웃</a></li>
        </ul>
      </section>
    </main>
    <!-- 내비게이션 -->
    <nav class="nav">
      <h2 class="a11yHidden">내비게이션 바</h2>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="main.html" class="nav__link"><img src="../images/home.svg" alt="홈" /><span class="nav__name">홈</span></a>
        </li>
        <li class="nav__item">
          <a href="board.html" class="nav__link"><img src="../images/common-icon-file.svg" alt="게시판" /><span class="nav__name">게시판</span></a>
        </li>
        <li class="nav__item">
          <a href="exchange.html" class="nav__link"><img src="../images/common-icon-map.svg" alt="내 근처" /><span class="nav__name">내 근처</span></a>
        </li>
        <li class="nav__item">
          <a href="chatList.html" class="nav__link"><img src="../images/common-icon-my.svg" alt="채팅" /><span class="nav__name">채팅</span></a>
        </li>
        <li class="nav__item">
          <a href="profile.html" class="nav__link"><img src="../images/icon-full-file.svg" alt="나의 이듬" /><span class="nav__name">나의 이듬</span></a>
        </li>
      </ul>
    </nav>
  </body>
</html>
