@use "./../utils" as *;

.shareHeader {
  @include paddingX(18px, 18px);
  @include paddingY(8px, 8px);
  @include flexbox;
  height: rem(36px);
  border-bottom: 1px solid $gray;

  .back {
    margin-right: rem(8px);
  }

  .share {
    margin-right: rem(12px);
  }
}

.mainHeader {
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    // cursor: pointer;
  }
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__local {
    font-size: 18px;
    font-weight: 600;
    padding-right: 6px;
  }
  &__toggle {
    width: 18px;
    height: 18px;
  }
  &__hamburger {
    margin: 0 7px;
  }
}
