@use "./../utils" as *;

@mixin nav {
  .nav_list {
    @include flexbox;
    @include paddingAll(8, 12, 24, 12);
  }
  .nav_link {
    @include flexbox($direction: column, $items: center);
    @include paddingXY(12, 8);
  }
  .nav_link img {
    width: 20px;
    height: 20px;
  }
  .nav_name {
    font-size: $fs11;
    line-height: $lh160;
  }
}
